.wrapper {
  width: 600px;
  margin: 0 auto;
}

#slider {
  width: 600px;
  height: 600px;
  overflow: hidden;
  margin: 30px auto;
}

#slider > img {
  width: 600px;
  height: 600px;
  float: left;
  display: hidden;
}

a {
  padding: 5px 10px;
  background-color: #F0F0F0;
  margin-top: 50px;
  text-decoration: none;
  color: #666;
}

a.left {
  float: left;
}

a.right {
  float: right;
}